<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('{% static 'main/images/bg2.jpg' %}'); background-attachment: fixed, scroll; background-position:center; background-size: cover">
   {% include './navbar.html' %}
<div class="jumbotron text-light bg-transparent">
        {% block content %}{% endblock %}
    </div>

</body>
 <br>
    {% include './footer.html' %}
</html>