{% extends 'main/models/authbase.html'%}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
    <div>
        {% if not form.is_valid %}
            <div>
                <br>
                <h1 class="text-center bg-transparent">
                    Создать новый аккаунт
                </h1>
                <br>
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-transparent">
                    <br>
                    <p class="text-white">Пожалуйста, заполните всю информацию, чтобы создать аккаунт!
                    </p>
                    <form method="POST">
                        {% csrf_token %}
                        <p class="text-white">{{ form | crispy }}</p>
                        <button type="submit" name="button"
                                class="btn btn-success">Зарегестрироваться</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="mx-auto">
                <br>
                <h1 class="jumbotron text-center text-green bg-transparent">
                    Аккаунт был успешно зарегестрирован!
                </h1>
                <br>
                <div class="bg-transponent">
                    <p class="alert alert-success">Ваш аккаунт был успешно зарегестрирован!</p>
                    <a class="btn btn-outline-success" href="{% url 'home' %}">Lets check IOP!</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}